<h1>About</h1>
<p>Shell on the Shttr was created by <a target="_blank" href="https://calebstein.net">Caleb Stein</a>, originally as a joke; then as way for me to streamline development of my own personal sites; and finally as a real, usable product (maintaining the joke name, of course).</p>
<p>It is a cutting-edge, databaseless backend web framework built using shell scripts.</p>
<p>
  A default Shttr installation comes configured with <a target="_blank" href="https://turbo.hotwired.dev/">Turbo</a> as a frontend framework and <a target="_blank" href="https://picocss.com/">Pico.css</a> as a CSS framework.
  This configuration allows for visually appealing and responsive apps to be rapidly built on the Shttr backend, though you're free of course to swap out whatever components you want.
</p>
