<nav>
  <ul>
    <li>
      <strong><a target="_blank" href="https://github.com/calebstein1/sh-on-the-shttr">
        Shell on the Shttr
      </a></strong>
    </li>
  </ul>
  <ul>
    <li><a href="/cgi-bin/index.sh">Home</a></li>
    <li><a href="/cgi-bin/about.sh">About</a></li>
    <li><a href="/cgi-bin/readme.sh">Instructions</a></li>
    <li>
      <details role="list">
        <summary aria-haspopup="listbox">Module Demos</summary>
        <ul role="listbox">
          <li><a href="/cgi-bin/local-storage.sh">LocalStorage</a></li>
          <li><a href="/cgi-bin/mailer.sh">Mailer</a></li>
          <li><a href="/cgi-bin/users.sh">User Accounts</a></li>
        </ul>
      </details>
    </li>
  </ul>
</nav>
