<nav>
  <ul>
    <li>
      <strong><a target="_blank" href="https://github.com/calebstein1/sh-on-the-shttr">
        Shell on the Shttr
      </a></strong>
    </li>
  </ul>
  <ul>
    <li><a href="/cgi-bin/index.sh">Home</a></li>
    <li><a href="/cgi-bin/about.sh">About</a></li>
    <li><a href="/cgi-bin/readme.sh">Instructions</a></li>
    <li>
      <details role="list">
        <summary aria-haspopup="listbox">Module Demos</summary>
        <ul role="listbox">
          <li><a href="/cgi-bin/local-storage.sh">LocalStorage</a></li>
          <li><a href="/cgi-bin/mailer.sh">Mailer</a></li>
        </ul>
      </details>
    </li>
    <li>
      <a target="_blank" href="https://github.com/calebstein1/sh-on-the-shttr" title="View on Github">
        <picture>
          <source media="(prefers-color-scheme: dark)" srcset="((esh)SHTTR_ASSETS)/images/github-mark-white.png">
          <img src="((esh)SHTTR_ASSETS)/images/github-mark.png" style="height:24px;width:auto;">
        </picture>
      </a>
    </li>
  </ul>
</nav>
