<div class="readme">
  <p>ESH Instructions:</p>
  <ul>
    <li>ESH is the markup language used in Shttr view partials.</li>
    <li>Use the syntax ((esh)MODEL_DATA) in your view html partial files, and it will be replaced with the content of the environment variable.</li>
    <li>Sourcing the ESH module automatically generates the correct Content-Type http header, and so it is necessary to source the ESH module in each of your view scripts.</li>
    <li>After sourcing the ESH module in a view script, simply use the v method for each of your html partials.</li>
  </ul>
</div>
