<h1 style="margin-bottom:0;">Instructions</h1>
<nav>
  <ul>
    <li><a href="?p=installation">Installation</a></li>
    <li><a href="?p=usage">Usage</a></li>
    <li>
      <details role="list">
      <summary aria-haspopup="listbox">Core</summary>
      <ul role="listbox">
        <li><a href="?p=controllers">Controllers</a></li>
        <li><a href="?p=models">Models</a></li>
        <li><a href="?p=views">Views</a></li>
      </ul>
      </details>
    </li>
    <li>
      <details role="list">
        <summary aria-haspopup="listbox">Modules</summary>
        <ul role="listbox">
          <li><a href="?p=esh">ESH</a></li>
          <li><a href="?p=pd">PD</a></li>
          <li><a href="?p=shttrdb">ShttrDB</a></li>
          <li><a href="?p=io">IO</a></li>
          <li><a href="?p=validator">Validator</a></li>
          <li><a href="?p=mailer">Mailer</a></li>
        </ul>
      </details>
    </li>
  </ul>
</nav>
