<h1 style="margin-bottom:0;">Instructions</h1>
<nav>
  <ul>
    <li><a href="/readme/installation">Installation</a></li>
    <li><a href="/readme/usage">Usage</a></li>
    <li><a href="/readme/mods">Modules</a></li>
    <li>
      <details role="list">
        <summary aria-haspopup="listbox">Modules</summary>
        <ul role="listbox">
          <li><a href="/readme/mods/esh">ESH</a></li>
          <li><a href="/readme/mods/pd">PD</a></li>
          <li><a href="/readme/mods/shttrdb">ShttrDB</a></li>
          <li><a href="/readme/mods/io">IO</a></li>
          <li><a href="/readme/mods/validator">Validator</a></li>
          <li><a href="/readme/mods/mailer">Mailer</a></li>
        </ul>
      </details>
    </li>
  </ul>
</nav>
