<div class="readme">
  <p>Installation Instructions:</p>
  <ul>
    <li>Make sure you have a web server configured and running with CGI enabled.</li>
    <li>Put the shttr directory in /var/www and make sure /var/www/shttr is set as your root dir.</li>
    <li>Put the cgi-bin directory in /usr/lib (or wherever your CGI dir is configured to be).</li>
    <li>Modify the environment variables in cgi-bin/index.sh if necessary.</li>
    <li>Configure your server or set up .htaccess so that the DirectoryIndex points to /cgi-bin/index.sh.</li>
  </ul>
</div>
