<h1>Register</h1>
<a href="?p=sign_in">Sign In</a>
<form action="/cgi-bin/users.sh" method="post">
  <input type="hidden" name="_action" value="sign_up">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name" required><br>
  <label for="username">Email: </label>
  <input type="email" name="username" id="username" required><br>
  <label for="password">Password: </label>
  <input type="password" name="password" id="password" required><br>
  <input type="submit" value="Submit">
</form>
